/universidad_2/nbproject/private/
/universidad_2/build/
/universidad_2/src/universidad_2/Universidad_2.java
/universidad_2/src/universidad_2/controllers/Conexion.java
/universidad_2/src/config.csv
/universidad_2/src/universidad_2/img/

